

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */







input.small {
  width: 50px;
}
input.medium {
  width: 50px;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}


div.bordered_box {
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 5px 5px 5px #ddd;
    -moz-box-shadow: 5px 5px 5px #ddd;
    -ms-box-shadow: 5px 5px 5px #ddd;
    box-shadow: 5px 5px 5px #ddd;
}

.ilb {
	display: inline-block;
}

button.touch {
	width: 64px;
	height: 64px;
	display: inline-block;
	margin: 3px;
}

button.doublewidth {
	width: 134px;
}

button.quadwidth {
	width: 270px;
}

button.doubleheight {
	height: 134px;
}

table#osk_table button {
	margin: 2px;
	margin-right: 3px;
    margin-bottom: 3px;
}

div.popup {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	background: #fff;
    box-shadow: 5px 5px 5px #888;
}

div.popup_blocker {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #333;
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}





