
<div class="row">
  <div class="span4">
  
  	<div ng-controller="OskCtrl" id="osk_control">
      <div class="bordered_box">
        <table id="osk_table">
          <tr>
            <td><button class="touch" ng-click="pressed(7)">7</button></td>
            <td><button class="touch" ng-click="pressed(8)">8</button></td>
            <td><button class="touch" ng-click="pressed(9)">9</button></td>
            <td><button class="touch" ng-click="pressed('-')">-</button></td>
          </tr>
          <tr>
            <td><button class="touch" ng-click="pressed(4)">4</button></td>
            <td><button class="touch" ng-click="pressed(5)">5</button></td>
            <td><button class="touch" ng-click="pressed(6)">6</button></td>
            <td><button class="touch" ng-click="pressed('backspace')"><-</button></td>
          </tr>
          <tr>
            <td><button class="touch" ng-click="pressed(1)">1</button></td>
            <td><button class="touch" ng-click="pressed(2)">2</button></td>
            <td><button class="touch" ng-click="pressed(3)">3</button></td>
            <td rowspan="2"><button class="touch doubleheight" ng-click="pressed('enter')">Enter</button></td>
          </tr>
          <tr>
            <td colspan="2"><button class="touch doublewidth" ng-click="pressed(0)">0</button></td>
            <td><button class="touch" ng-click="pressed('.')">.</button></td>
          </tr>
        </table>
      </div>
  	</div>
  
    <div ng-controller="StockGroupCtrl" id="stock_group_control">
      <div class="bordered_box">
        <div>Stock Groups</div>
        <div class="ilb" ng-repeat="group in groups">
          <button class="touch" ng-click="select(group.prod_grp)">{{group.prod_grp}} {{group.desc}}</button>
        </div>
      </div>
    </div>

    <div ng-controller="StockSubgroupCtrl">
      <div class="bordered_box" ng-hide="subgroups.length == 0">
        <div>Subgroups</div>
        <div class="ilb" ng-repeat="subgroup in subgroups">
          <button class="touch" ng-click="select(subgroup.prod_grp, subgroup.smsgr_id)">{{subgroup.smsgr_id}} {{subgroup.desc}}</button>
        </div>
      </div>
    </div>

    <div ng-controller="StockCtrl">
      <div class="bordered_box">
        <div>Stock Items</div>
        <div class="ilb" ng-repeat="item in items">        
          <button class="touch" ng-click="select(item)">{{item.key1p2}} {{item.desc1}}</button>
        </div>
        <div ng-show="items.length == 0">
          No items match your current search.  Try pressing a 'Stock Group' or 'Subgroup'.
        </div>
      </div>
    </div>
  </div>

  <div class="span8">
    <div ng-controller="CartCtrl">
      <div class="bordered_box">
        <form ng-submit="addItem()">
          <table style="width: 100%;">
            <tr>
              <th class="left">Stock Code</th>
              <th class="left">Description</th>
              <th class="right">Quantity</th>
              <th class="right">Unit Price</th>
              <th class="right">Price</th>
            </tr>
            <tr ng-repeat="item in items">
              <td ngm-if="item.lineType=='narrative'" colspan="5">{{item.narrative}}</td>
              <td ngm-if="item.lineType=='stock'">{{item.key1p2}}</td>
              <td ngm-if="item.lineType=='stock'">{{item.desc1}}</td>
              <td ngm-if="item.lineType=='stock'" class="right">{{item.qty}}</td>
              <td ngm-if="item.lineType=='stock'" class="right">£{{item.salprc_u|currency}}</td>
              <td ngm-if="item.lineType=='stock'" class="right">£{{item.lineTotal()|currency}}</td>
            </tr>
            <tr>
              <td colspan="1" id="itemInputTd">
                <input autofocus osk-autofocus id="itemInput" osk on-keyup-enter-fn="itemInputOnKeyupEnter" type="text" ng-model="itemInput" size="8" placeholder="add new item here">
              </td>
              <td>
                <span ng-show="validItem">{{validItem.desc1}}</span>
                <span ng-show="validItem">({{validItem.b_each}} in stock)</span>
              <td class="right">
                <input type="number" class="small" ng-model="itemQty" size="8" placeholder="qty">
              </td>
              <td class="right">
                <span ng-show="validItem">£{{validItem.salprc_u|currency}}</span>
              </td>
              <td>
                <input ng-show="validItem" class="btn-primary" type="submit" value="add">
              </td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
              <td class="right">Subtotal:</td>
              <td class="right">£{{invoiceSubtotal()|currency}}</td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
              <td class="right">VAT:</td>
              <td class="right">£{{invoiceVat()|currency}}</td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
              <td class="right">Total Payable:</td>
              <td class="right overlined">£{{invoiceTotal()|currency}}</td>
            </tr>
            <tr>
              <td colspan="3">&nbsp;</td>
              <td colspan="2" class="right"><a class="button" href="#/hospos/payment/{{invoiceTotal()}}">Pay</a</td>
            </tr>
          </table>
        </form>
      </div>
      <div ng-show="picklist" class="popup_blocker">
      </div>
      <div ng-show="picklist" class="bordered_box popup">
        <div>Stock Items</div>
        <div class="ilb" ng-repeat="item in picklist">        
          <button class="touch" ng-click="select(item)">{{item.key1p2}} {{item.desc1}}</button>
        </div>
      </div>
    </div>
  </div>
</div>